<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Records Beheer Pagina</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="header">
        <h1>Records Beheer</h1>
    </div>

    <div class="container">
        <ul class="nav">
            <li><a href="/add_record">Nieuw Record Toevoegen</a></li>
            <li><a href="/upload-csv">Records Uploaden via CSV</a></li>
            <li><a href="/records/publiek">Records in Afwachting Bekijken</a></li>
            <li><a href="/approved_records">Goedgekeurde records</a></li>
            <li><a href="/rejected_records">Afgekeurde records</a></li>
            <li><a href="/overview">Totaal overzicht</a></li>
        </ul>
    </div>
</body>
</html
